doctype html
html(lang='en' dir='ltr')
    head
        title Fluffy Umbrella
        link(rel="stylesheet" href="css/app.css")
    body
        include includes/navbar.pug
        #container
          div TEST
        
        script(src="js/app.js")
            