doctype html
html(lang='en' dir='ltr')
    head
        title Fluffy Umbrella
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/app.css")
        link(rel="stylesheet" href="css/navbar.css")
    body
        include includes/navbar.pug
        main
          div test
        script(src="js/app.js")